{% extends 'article/base.html' %}

{% block content %}
   


<div class="jumbotron">

  <h2>Please Login:</h2>

    <h3>Must be SuperUser, Please Chech with the site admin)</h3>

      {% if form.errors %}

        <p>Your Username and Password didn't match! Please try again</p>

      {% endif %}

        <form action="{% url 'login' %}" method="POST">

          	{% csrf_token %}
            
              {% form.as_p %}

               <input type="submit" class="btn btn-primary" value="Login">

                <input type="hidden" name="next" value="{{ next }}">
            
                 <br>


                   <p class="text-center"><strong>-- OR --</strong></p>
                   
                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center">
                    <span class="fa fa-facebook"></span>
                                 Sign in with Facebook
                   </a>

                    <br>
                   
                   <p class="text-center"><strong>-- OR --</strong></p>

                   <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>

        </form>

</div>>


 {% endblock %}